# Set default behavior to automatically normalize line endings.
* text=auto
*.c text
*.h text
*.cc text eol=lf
*.cpp text eol=lf
*.hpp text

# Build system Files
*.py text
*.gn text
*.gni text
*.mak text eol=lf
*.diff text eol=lf
*.patch text eol=lf

# Keep scripts correct
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.rc text eol=crlf
