# Set default behavior to automatically normalize line endings.
* text=auto
*.idl text eol=lf
*.json text eol=lf
*.js text eol=lf
*.ts text eol=lf

# Build system Files
*.py text eol=lf
*.gn text
*.gni text
*.mak text eol=lf
*.diff text eol=lf
*.patch text eol=lf

# Keep scripts correct
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.rc text eol=crlf
