<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2025 The Chromium Authors and Alex313031 -->
<component type="desktop">
  <id>@@PACKAGE@@.desktop</id>
  <update_contact>@@MAINTMAIL@@</update_contact>
  <metadata_license>CC0-1.0</metadata_license>
  <project_license>@@PROJECT_LICENSE@@</project_license>
  <name>@@MENUNAME@@</name>
  <summary>@@SHORTDESC@@</summary>
  <description>
    <p>
    Thorium is an open-source browser project that aims to build a safer, faster,
    and more stable way to experience the web.
    </p>
    <p>
    We invite you to join our effort to build a powerful platform for developing a
    new generation of web applications.
    </p>
    <p>
    Thorium supports Vorbis, Theora, WebM, AAC, H.264, H.265, MP3, and HTML5 audio and video standards.
    </p>
  </description>
  <url type="homepage">@@PRODUCTURL@@</url>
  <screenshots>
    <screenshot type="default">
      <image>https://github.com/Alex313031/thorium/blob/main/logos/STAGING/Thorium_Screenshot.png</image>
      <caption/>
    </screenshot>
  </screenshots>
  <translation/>
  <developer_name>@@DEVELOPER_NAME@@</developer_name>
  <url type="bugtracker">@@BUGTRACKERURL@@</url>
  <url type="help">@@HELPURL@@</url>
</component>
