pkgbase = thorium-browser-bin
	pkgdesc = Chromium fork focused on high performance and security.
	pkgver = 111.0.5563.111
	pkgrel = 2
	url = https://github.com/Alex313031/Thorium
	install = thorium-browser.install
	arch = x86_64
	license = GPLv3
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	options = !emptydirs
	options = !strip
	source = https://github.com/Alex313031/Thorium/releases/download/M111.0.5563.111/thorium-browser_111.0.5563.111-1_amd64.deb
	source = thorium-browser.sh
	sha512sums = b91554cc990241ed632c4a4abb14181b1598018716794ccf251d6baf77bca691722558cdcdbc5f88087ceb356a6cdfbf9095038189ecb7fa0777975a1ae13b4f
	sha512sums = 91a532fde9e6e87d65b909a170d32808f1c05367104cdaab07043fef0de66bdfc307a4138584cd1eedc169a03207372df39c09268ab1ec741432e79e0dcc2dfb

pkgname = thorium-browser-bin
