/* Copyright 2024 The Chromium Authors and Alex313031
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin: 10px;
  min-width: 47em;
}

a {
  color: blue;
  font-size: 103%;
}

#header {
  background: url(chrome://resources/images/infra.png)
      left center / 48px no-repeat;
  box-sizing: border-box;
  margin-bottom: 1.05em;
  overflow: hidden;
  padding-inline-start: 0;
  position: relative;
}

html[dir=rtl] #header {
  background-position-x: right;
}

#header h1 {
  line-height: 48px;
  padding-inline-start: 51px;
}

h1 {
  font-size: 156%;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#disabled-container {
  font-size: 120%;
  padding-bottom: 1.5em;
}

#disabled-header {
  color: red;
  font-weight: bold;
}

.content {
  margin-top: 5px;
}

.section-header {
  background: rgb(235, 239, 249);
  border-top: 1px solid rgb(181, 199, 222);
  font-size: 99%;
  padding-bottom: 2px;
  padding-inline-start: 5px;
  padding-top: 3px;
  width: 100%;
}

.section-header > table tr td:first-child {
  width: 100%;
}

.section-header > table tr {
  vertical-align: center;
}

.section-header > table {
  width: 100%;
  border-collapse:collapse
}

.section-header-title {
  font-weight: bold;
}

#top {
  padding-inline-end: 5px;
}

.show-in-tmi-mode {
  overflow: hidden;
}

body.hide-tmi-mode-initial .show-in-tmi-mode {
  height: 0 !important;
  opacity: 0;
}

body.hide-tmi-mode .show-in-tmi-mode {
  height: 0 !important;
  opacity: 0;
  transition: all 100ms ease-out;
}

body.show-tmi-mode-initial .show-in-tmi-mode {
  opacity: 1;
}

body.show-tmi-mode .show-in-tmi-mode {
  opacity: 1;
  transition: all 100ms ease-in;
}

.tmi-mode-image {
  margin-top: 2px;
  padding-inline-end: 5px;
  padding-inline-start: 5px;
}

.tmi-mode-link {
  margin-inline-end: 3px;
  white-space: nowrap;
}

.tmi-mode-link a {
  font-size: 97%;
}

.tmi-mode {
  background: rgb(244, 246, 252);
  border-bottom: 1px solid rgb(237, 239, 245);
  font-size: 89%;
  padding-bottom: 0.8em;
  padding-inline-start: 10px;
  padding-top: 0.8em;
  width: 100%;
}

.component-disabled {
  background-color: #f0f0f0;
  color: #a0a0a0;
}

.component > tr > td {
  padding-bottom: 4px;
  padding-top: 5px;
  vertical-align: top;
}

.component > table {
  width: 100%;
  border-collapse:collapse
}

.plugin-file {
  padding-bottom: 5px;
  padding-top: 5px;
}

.component {
  border-bottom: 1px solid #cdcdcd;
}

.critical {
  color: red;
}

/* Indent the text related to each plug-in. */
.component-text {
  padding-inline-start: 5px;
}

.component-name {
  font-weight: bold;
}

.no-components {
  font-size: 1.2em;
  margin: 6em 0 0;
  text-align: center;
}

/* Use tables for layout, so eliminate extra spacing. */
.plugin-details table {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

.plugin-details {
  padding-inline-start: 1em;
}

/* Separate the inital line, Description, Location, and MIME Types lines. */
.plugin-details > div {
  padding-top: 0.1em
}

/* Align rows of tables along the top. */
.plugin-details tr {
  vertical-align: top;
}

/* Separate columns by 1em for the most part. */
.plugin-details td+td {
  padding-inline-start: 1em;
}

/* Make the MIME Types tables smaller. */
.plugin-details .mime-types {
  font-size: 95%;
}

/* Separate the header from the contents in each MIME Types table. */
.plugin-details .mime-types .header td {
  border-bottom: 1px solid black;
  padding-bottom: 0.1em;
}

/* Separate the columns for tables used for horizontal listings only a bit. */
.hlisting td+td {
  padding-inline-start: 0.4em;
}

/* Match the indentation of .plugin-text. */
.component-actions {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  padding-inline-start: 5px;
}

.always-allow {
  margin-inline-start: 30px;
}

button {
  font-size: 104%;
}

button[disabled] {
  color: #999;
}
