Source: @@PACKAGE@@
Section: web
Priority: optional
Maintainer: @@MAINTNAME@@ <@@MAINTMAIL@@>
Build-Depends: dpkg-dev, devscripts, fakeroot, xz-utils, zip
Standards-Version: 3.9.8

Package: @@PACKAGE@@
Provides: @@PROVIDES@@
Pre-Depends: @@PREDEPENDS@@
Depends: @@DEPENDS@@
Recommends: vdpau-driver-all
Conflicts: thorium-browser-unstable
Replaces: thorium-browser-unstable
Architecture: @@ARCHITECTURE@@
Description: @@SHORTDESC@@
 @@FULLDESC@@
