#ifndef CHROME_INSTALLER_MINI_INSTALLER_MINI_INSTALLER_VERSION_H_
#define CHROME_INSTALLER_MINI_INSTALLER_MINI_INSTALLER_VERSION_H_

static constexpr int MAJOR_VERSION = @MAJOR@;

static constexpr int MINOR_VERSION = @MINOR@;

static constexpr int BUILD_VERSION = @BUILD@;

static constexpr int PATCH_VERSION = @PATCH@;

static const wchar_t* kVersionString = L"@MAJOR@.@MINOR@.@BUILD@.@PATCH@";

static const wchar_t* kInstallTitle = L"Thorium @MAJOR@.@MINOR@.@BUILD@.@PATCH@ Installer";

static const wchar_t* kInstallBetaTitle = L"Thorium Beta @MAJOR@.@MINOR@.@BUILD@.@PATCH@ Installer";

#endif // CHROME_INSTALLER_MINI_INSTALLER_MINI_INSTALLER_VERSION_H_
