/* Thorium Website Cascading Style Sheet */
:root,
/* Set colours */
:root.light {
  --bgcolor: #ffffff;
  --fontcolor: #000000;
  --linkcolor: #0000ee;
  --visitedcolor: #551a8b;
  --preformatted: #24292f;
  --accent-bg: #aecbfa;
  --border: #000000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #24292f;
    --fontcolor: #ffffff;
    --linkcolor: #5bf5bf;
    --visitedcolor: #ae5ee0;
    --preformatted: #ffffff;
    --accent-bg: #2b2b2b;
    --border: #ffffff;
  }
}
:root.dark {
  --bgcolor: #24292f;
  --fontcolor: #ffffff;
  --linkcolor: #5bf5bf;
  --visitedcolor: #ae5ee0;
  --preformatted: #ffffff;
  --accent-bg: #2b2b2b;
  --border: #ffffff;
}
/* Scrolling settings */
html {
  overflow-x: scroll;
  overflow-y: scroll;
}
/* General body settings */
body {
  margin: 1em auto;
  max-width: 36em;
  font-family: "Noto Sans", sans-serif;
  padding: 1rem;
  color: var(--fontcolor);
  background-color: var(--bgcolor);
}
/* Image autoconfig */
img {
  max-width: 100%;
  height: auto;
}
/* Image effects */
img.spin {
  transition: all .6s;
}
img.thor90 {
  border: 1px solid var(--border);
}
.thor90:hover {
  animation: jig 0.2s;
  animation-iteration-count: infinite;
}
img.bubbles:hover {
  padding-right: 12px;
  animation: shake 3.0s;
  animation-iteration-count: infinite;
}
/* Animations */
@keyframes shake {
  0% { transform: translate(3px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -2px) rotate(-3deg); }
  20% { transform: translate(-4px, 1px) rotate(1deg); }
  30% { transform: translate(1px, 3px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-1px, 3px) rotate(-2deg); }
  60% { transform: translate(-4px, 2px) rotate(0deg); }
  70% { transform: translate(3px, 2px) rotate(-1deg); }
  80% { transform: translate(-2px, -4px) rotate(2deg); }
  90% { transform: translate(3px, 3px) rotate(0deg); }
  100% { transform: translate(3px, 2px) rotate(0deg); }
}
@keyframes jig {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-1deg); }
  40% { transform: rotate(-2deg); }
  60% { transform: rotate(1deg); }
  80% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}
/* Move title slightly */
span.title {
  margin-left: -0.1em;
}
/* Adjust top horiz separator */
hr.line {
  width: 105.3%;
  margin-left: -1.0em;
  border: 1px solid var(--fontcolor);
}
/* Put box around intro/description */
p.intro {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--border);
  border-radius: 3px;
  font-weight: 600;
}
/* Set link colours */
a:link{
  color: var(--linkcolor);
}
a:visited,
a:active {
  color: var(--visitedcolor);
}
/* Adjust thorium_bubbles.svg */
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* Codeblock Styles */
pre {
  padding: 1rem 1.5rem;
  max-width: 100%;
  overflow: auto;
  color: var(--preformatted);
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
}
/* Rounded Dark/Light Mode Button */
button {
  border: 1px solid var(--border);
  border-radius: 5px;
}
/* Add WebGL Canvas Element */
canvas.glcube {
  border: 1px solid var(--border);
  max-width: 100%;
}
/* No Auto-Play */
video {
  display: none;
}
/* Set Google Noto Sans */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Noto Sans"),url(../fonts/noto-sans-v27-latin-regular.woff2) format("woff2"),url(../fonts/noto-sans-v27-latin-regular.woff) format("woff")
}
